/* styles.css */
body {
    font-family: Arial, sans-serif;
}

#image-input {
    width: 500px;
    height: 100px;
    margin: 20px auto;
}

#upload-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#output {
    width: 80%;
    margin: 20px auto;
}
